<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChoppAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAPI</display-name>
    <servlet-name>CustomerAPI</servlet-name>
    <servlet-class>webServices.CustomerAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAPI</servlet-name>
    <url-pattern>/CustomerAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BagAPI</display-name>
    <servlet-name>BagAPI</servlet-name>
    <servlet-class>webServices.BagAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BagAPI</servlet-name>
    <url-pattern>/BagAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommerceAPI</display-name>
    <servlet-name>CommerceAPI</servlet-name>
    <servlet-class>webServices.CommerceAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommerceAPI</servlet-name>
    <url-pattern>/CommerceAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationAPI</display-name>
    <servlet-name>LocationAPI</servlet-name>
    <servlet-class>webServices.LocationAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationAPI</servlet-name>
    <url-pattern>/LocationAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAPI</display-name>
    <servlet-name>ProductAPI</servlet-name>
    <servlet-class>webServices.ProductAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAPI</servlet-name>
    <url-pattern>/ProductAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductValueAPI</display-name>
    <servlet-name>ProductValueAPI</servlet-name>
    <servlet-class>webServices.ProductValueAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductValueAPI</servlet-name>
    <url-pattern>/ProductValueAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrolleyAPI</display-name>
    <servlet-name>TrolleyAPI</servlet-name>
    <servlet-class>webServices.TrolleyAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrolleyAPI</servlet-name>
    <url-pattern>/TrolleyAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAPI</display-name>
    <servlet-name>UserAPI</servlet-name>
    <servlet-class>webServices.UserAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAPI</servlet-name>
    <url-pattern>/UserAPI</url-pattern>
  </servlet-mapping>
</web-app>